<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>犬・猫を買う前に知るべきこと</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body id="top">
    <!-- ヘッダー -->
    <header class="header">
 <!--       <div class="logo">
            <a href="{{url_for('index')}}"><img src="{{url_for('static',filename='images/logo.svg')}}" alt="犬・猫を買う前に知るべきこと"></a>
        </div>-->
        <nav class="nav">
            <ul>
                <li><a href="{{url_for('index')}}">使い方</a></li>
                <li><a href="{{url_for('haikei')}}">投稿</a></li>
                <li><a href="{{url_for('zukan')}}">図鑑</a></li>
                <li><a href="{{url_for('bukuuzyutu')}}">画像認識</a></li>
                <li><a href="{{url_for('contact')}}">評価</a></li>

            </ul>
        </nav>
    </header>
    <!-- ヘッダーここまで -->

    <h1 class="hero pome"></h1>


<main>
<div id="shop">
    <h2>ペット飼育前に学習すべきこと（簡易版）</h2>
        <table class="shop-info">
        <tr>
            <th>お金</th>
            <td>
                <li>1カ月当たりの支出額の平均は1万3,843円であり、生涯費用は２００万以上</li>
                <li>気管虚脱や膝蓋骨脱臼などの病気になりやすく、手術を行う場合は、数十万円という費用が必要</li>
            </td>
        </tr>
        <tr>
            <th>時間</th>
            <td>
                <li>毎日10分～1時間程度の散歩を2回、ごはん・水の用意、トイレの掃除、歯磨きをする時間が必要</li>
                <li>定期的にシャンプー、爪切り、ブラッシング、毛玉のカットをする時間も必要</li>
            </td>
        </tr>
        <tr>
            <th>ポメラニアンへの理解</th>
            <td>
                <li>警戒心や自己主張が強い</li>
                <li>無駄吠えや噛むなどの問題行動も</li>
            </td>
        </tr>
       
        <tr>
            <th>法律</th>
            <td>虐待行為(餌や水を与えない、病気を放置など)は、1年以下の懲役または100万円以下の罰金</td>
        </tr>
        
        
    </table>
    <div id="news">
        <ul>
        <h2>お金</h2>
        
            <a>令和3年の全国犬猫飼育実態調査によると、犬の1カ月当たりの支出額の平均は1万3,843円となっています。ポメラニアンの場合、寿命が１２年～１５年であるということを考えると、生涯費用としては、200万以上のお金が必要になります。それに加えて、ポメラニアンは気管虚脱や膝蓋骨脱臼などの病気になりやすく、手術を行う場合は、数十万円という費用が必要になります。（動物医療は皆保険制度ではないため、費用は高額になる）ペットを購入する上では、ペットの販売価格をよく考慮しがちですが、生涯費用や医療費の方が高額になることを留意すべきです。</a>
        <h2>時間</h2>
            <a>毎日10分～1時間程度の散歩を2回、ごはん・水の用意、トイレの掃除、爪切り、歯磨き、おもちゃなどを使って室内で一緒に遊ぶなどのコミュニケーションをとる時間を確保しなくてはなりません。それに加えて、ふさふさの毛を保つには、定期的なブラッシングなどのお手入れをすることも必要になります。ポメラニアンは毛の量が多いので、ブラッシングの時間は必然的に長くなりますし、抜け毛の時期は、部屋中が毛だらけという状態になるので、ころころをする時間も増えます。子犬の場合には、しつけにも時間がかかります。
                    ここで実際の生活をイメージして欲しいのですが、日中お仕事をしている飼い主の場合は、朝から散歩に連れて行って、それからごはんを与えます。その後は、仕事をして、自宅に帰ったら、トイレ掃除等をしてから、また散歩に行って、ごはんを与えてというサイクルを毎日繰り返すことになります。</a>
        <h2>ポメラニアンへの理解</h2>
                <a>ポメラニアンのイメージとしては、フワフワした毛並の可愛い姿を思い浮かべる方が多いかと思います。しかし、実際のところは、警戒心や自己主張が強く、無駄吠えや噛むなどの問題行動を起こしてしまうことが多いです。例えば、チャイムの音や見知らぬ来客者に警戒して吠え続けたり、他の犬が近づくと、いなくなるまで吠え続けることがよくあります。そのため、きちんとしつけを行わないと、問題行動に繋がりやすい犬種です。また、好奇心旺盛で周りの物への関心が強いため、クッションやコードをかじってしまう傾向があります。特に子犬期は何でも口に入れようとするため、誤飲誤食をしてしまう恐れがあります。危険な物は床や見える場所に置いておかず、ポメラニアンの届かない棚や引き出しにしまうなどのことが必要になります。事前の予備知識なく自身の判断だけで飼おうとすると、さまざまなトラブルを引き起こす恐れがあるため、ポメラニアンを飼う際は、情報収集をしっかり行い、理解をしていかなければなりません。</a>
            <h2>法律</h2>
                <a>動物愛護法では以下の罰則があります</a><br>
                <a>・殺傷行為は5年以下の懲役または500万円以下の罰金</a><br>
                <a>・虐待行為は1年以下の懲役または100万円以下の罰金</a><br>                    
                <a>
                    虐待にあたるのは殴る・蹴るなどの暴力的な行為に限られているわけではありません。みだりに餌や水を与えない、病気を放置するなどの行為によって、衰弱させる行為も「虐待」として同様に厳しく処罰されます。
                    また、獣医師が不適正な飼養のため動物が衰弱するなどの虐待の疑いがある動物について診察した場合、獣医師は遅滞なく関係機関へ通報することになります（同法第41条）</a>
            <h2>さいごに</h2>
                <a>ペットを飼う前は、多くの人がポメラニアンとの楽しい生活を期待してしまします。しかし、ポメラニアンとの生活に期待する側面しか見えてないまま飼い始めると、「こんなはずではなかった」と思うことも起こり得ます。多くの問題は、ポメラニアンについてしっかりと知識を持ち、あらゆる事態を想定した上で飼育を始めれば、避けることのできることばかりです。ポメラニアンに限った話にはなりませんが、飼うということは、楽しいことばかりではなく、大変なことや面倒なこと、嫌になることも頻繁にあります。それでも、犬を飼いたいと考えるのであれば、その命を終えるまで、適切に飼うという責任があるということを十分に自覚すべきです。</a>
            </u1>
                </div>

</main>
    <!-- メインここまで -->
    <!-- フッター -->
    <footer>
        <div class="gotop">
            <a href="#top"><img src="{{url_for('static',filename='images/gotop.svg')}}" alt="ページトップへ"></a>
        </div>
        <p class="copyright">&copy; 犬・猫を飼う前に知るべきこと</p>
    </footer>
    <!-- フッターここまで -->
</body>
</html>